<h1>I am Reviewer</h1>
<%= link_to "Create", new_reviewer_path %>
<%= link_to "Update" %>
<%= link_to "Delete", reviewers_list_path%>
<%= button_to "Sign Out", destroy_user_session_path(@user), method: :delete %>